streamlit
librosa==0.9.2
numpy
moviepy==1.0.3
requests==2.31.0
beautifulsoup4
pillow
spacy
soundfile
validators
tenacity
torch
diffusers
transformers
openai-whisper
ffmpeg-python==0.2.0
python-dotenv==1.0.0
accelerate
en-core-web-sm==3.6.0
